<!-- wellence_project/templates/registration/login.html -->
 {% load static %}
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-button">Login</button>
        </form>
        <!-- Back to Home button -->
        <form action="{% url 'landing_page' %}">
            <button type="submit" class="home-button">Back to Home</button>
        </form>
    </div>
</body>
</html>
