{% load static %}
<html>
<head>
    <title>Adding Tasks</title>
    <!-- Include Flatpickr CSS for calender pop out-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'tasks/css/tasks.css' %}">
</head>
<body>
    <div class="task-container">
        <h2>Adding Tasks</h2>

        <!-- Display form errors -->
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Please correct the errors below:</strong>
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- Form to add a new task -->
        <form id="task-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

        <!-- Navigation buttons -->
        <div class="navigation-container">
            <div class="navigation-buttons">
                <form action="{% url 'landing_page' %}">
                    <button type="submit">Back to Home</button>
                </form>

                <form action="{% url 'dashboard_page' %}">
                    <button type="submit">Go to Dashboard</button>
                </form>
            </div>

            <!-- Logout button -->
            <div class="logout-button">
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <script type="module" src="{% static 'tasks/js/add_task.js' %}"></script>
    <!-- Include Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // Date calender pop out for user inserting data
        flatpickr("input[name='due_by']", {
            enableTime: true, 
            dateFormat: "d-m-y H:i", 
            minDate: "today",  // Prevent selecting past dates
        });
    </script>
</body>
</html>
