{% load static %}
<html>
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="navbar">
        <h2>Data of tasks due in the next 30 days<h2>
    </div>
    <div class="dashboard-container">
        <!-- Urgent Tasks Number Metric -->
        <div class="urgent-tasks">
            <h2>Urgent Tasks</h2>
            <p style="font-size: 48px; color: red;">{{ urgent_tasks.count }}</p>
        </div>

        <!-- Pie Chart: Tasks by Priority -->
        <div class="pie-chart">
            <h2>Pie by Priorities</h2>
            <canvas id="tasksPriorityPieChart" class="chart-container"></canvas>
        </div>

        <!-- Line Chart: Tasks Due in the Next 30 Days -->
        <div class="line-chart">
            <h2>Line chart by Due dates</h2>
            <canvas id="tasksDueLineChart" class="chart-container"></canvas>
        </div>

        <!-- Table View: All Tasks -->
        <div class="tasks-table">
            <h2>Table of task details</h2>
            <table>
                <thead>
                    <tr>
                        <th>User Email</th>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Priority</th>
                        <th>Urgent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.user_email }}</td>
                        <td>{{ task.task }}</td>
                        <td>{{ task.due_by }}</td>
                        <td>{{ task.get_priority_display }}</td>
                        <td>{{ task.is_urgent|yesno:"Yes,No" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Navigation buttons -->
    <div class="navigation-container">
        <div class="navigation-buttons">
            <form action="{% url 'landing_page' %}">
                <button type="submit">Back to Home</button>
            </form>

            <form action="{% url 'task_page' %}">
                <button type="submit">Go to Task Page</button>
            </form>
        </div>

        <!-- Logout button -->
        <div class="logout-button">
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>

    <!-- Chart.js Scripts -->
    <script>
        const api_base_url = "{{ api_base_url|escapejs }}";
    </script>
    <script type="module" src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>