{% load static %}
<html>
<head>
    <title>Task Management App</title>
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Task Management App!</h1>
        <div class="button-container">
            <a href="{% url 'task_page' %}" class="button">
                <div class="button-icon">📝</div> 
                Data Entry
            </a>
            <a href="{% url 'dashboard_page' %}" class="button">
                <div class="button-icon">📊</div>
                Dashboard
            </a>
        </div>
    </div>
</body>
</html>